*{
  font-size: 1em;
}

body{
  background-image: url('../images/photo-1521295121783-8a321d551ad2.avif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
}