{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form>
        <input type="text" name="news_query" placeholder="Search for articles by source e.g. bbc news" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-info">
    </form>
    </div>
  </div>

</div>
<marquee>
  <h3 class="text-white ms-4 fw-bold">Welcome to Streak News site...Catch trending news from all over the world as they occur from your favorite international sources.</h3>
</marquee>

  <div class="container">

    <div class="row">
      
        {{macro.showNewsSources(sources)}}
      
    </div>
  </div>

  {% block footer %}
  <div class="container">
    <div class="row">
      <div class="col text-center text-white py-3 fw-bold">
        STREAK NEWS | &copy;2022
      </div>
    </div>
  </div>
{% endblock %}

{% endblock %}