{% macro showNewsSources(sources) %}

{% for source in sources %}
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h3 class="card-title">{{source.name}}</h3>
        <p class="card-text">{{source.description}}</p>
        <a href="{{url_for('main.news', news_id = source.id)}}" class="btn btn-dark">Read More...</a>
      </div>
    </div>
  </div>
  {% endfor %}

{% endmacro %}

{% macro showNewsArticles(news_list) %}
  {% for news in news_list %}
  <div class="card m-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{news.image}}" class="img-fluid rounded-start" alt="{{news.id}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.description}}</p>
          <p class="card-text"><small class="text-muted">{{news.date}}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endmacro %}